* {
  margin: 0;
}

html, body {
  height: 100%;

  }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
  font-family: "Shadows Into Light Two";
  font-size: 1.5em;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
}

h2 {
  font-size: 2em;
}

nav {
  height: 50px;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  z-index: 99;
  text-align: center;
  font-family: "Shadows Into Light Two";
  font-size: 1.6em;
  display: inline-block;
  }

form {
text-align: center;
}

nav a{
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
  line-height: 50px;
  padding-right: 10px;

}

.sect {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;

    }

.subsect2 form{
  height: 900px;
  background-color: #B7BEB3;
  }

.sectone {
  background-image: url(../images/addressratfink.jpg);
  display: block;
  margin: auto;
  background-position: center;
  }

.secttwo {
  background-image: url(../images/bike3.jpg);
  display: block;
  background-position: center;
}

.subsect{
  margin-right: 100px;
  margin-left: 100px;
}

.subsect2 {
  margin-right: 100px;
  margin-left: 100px;
}

.subsect2 hr {
  margin-top: 20px;
  }

.sectthree {
  background-image: url(../images/bike1.jpg);
  display: block;
  margin: auto;
  background-position: center;
}

.subsect3 {
  margin: 25px 100px;
}

.subsect3 p{
  margin: 0;
}

.subsect3 legend h2{
  font-family: "Shadows Into Light Two";
  padding: 0;
  margin: 0;
  }

  footer {
    height: 50px;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    z-index: 99;
    text-align: center;
    font-family: "Shadows Into Light Two";
    font-size: 1.6em;
    display: inline-block;
    }
